.info {
  margin: 0 0 20px;
  padding: 30px;
  border: 1px solid #ccc;
  li {
    list-style: none;
    margin: 0;
    padding:0 0 10px;
  }
}

.accountName {
  font-weight: normal;
  margin: 0 0 10px;
}